@import "https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap";

.bounce-in-fwd {
    -webkit-animation: bounce-in-fwd 1.1s both;
    animation: bounce-in-fwd 1.1s both;
}

@-webkit-keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: scale(.84);
        transform: scale(.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: scale(.84);
        transform: scale(.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/**** HERO  ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color_1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url("../img/hero-pattern.jpg");
}

.hero__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;

    .logo {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 2rem;
    }

    .nav__label {
        display: none;
    }
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    p {
        font-family: $font-family_2;
    }

    .menu {
        font-family: $font-family_1;
        align-items: center;
        font-weight: 300;
        list-style: none;
        display: flex;
        font-size: 1.4rem;
        gap: 2rem;
        letter-spacing: 2px;
    }
}

.hero__main {
    display: flex;
    padding-inline: 6rem;

    >div {
        flex: 1;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.2rem;
        border: 2px dashed #44270f;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 0.6rem;
        padding-bottom: 0.4rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: $font-family_3;
        font-size: 5rem;
        line-height: 1;
        text-shadow: 4px 4px 0 white;
    }

    h3 {
        font-family: $font-family_3;
        font-size: 2rem;
        text-shadow: 4px 4px 0 white;
    }
}

.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    position: relative;
    transition: transform 1s;

    img {
        max-width: 400px;
    }

    &:hover {
        transform: rotate(140deg) scale(2) skew(30deg);
        transform: scale(1.1) translateY(-10px);
    }
}

.sale {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    background-color: $background-color_1;
    width: 100px;
    height: 100px;
    padding: 3.6rem;
    border-radius: 50%;
    border: 2px dashed white;
    outline: 5px solid #b91818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-family_1;
    text-align: center;
}

.price {
    color: $color_2;
    font-size: 3rem;
    line-height: 1;

    small {
        color: $color_2;
        font-size: 1.4rem;
    }
}

.only {
    color: $color_2;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 4px;
}

/*** GRID ****/
.grid {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2" "item1 item3";
    gap: 2rem;
}

.grid__item {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
    padding: 2rem;

    h5 {
        color: $color_2;
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.2rem;
    }

    h4 {
        color: $color_2;
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.6rem;
    }
}

.grid__item1 {
    grid-area: item1;
    background-image: url("../img/grid-big.webp");
    height: 400px;
}

.grid__item2 {
    grid-area: item2;
    background-image: url("../img/grid-small1.webp");
}

.grid__item3 {
    grid-area: item3;
    background-image: url("../img/grid-small2.jpg");
}

/**** ENJOY ****/
.enjoy {
    padding: 6rem;
    padding-top: 0;
}

.titles {
    padding-inline: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
        font-family: $font-family_1;
        text-align: center;
        font-weight: 300;
        font-size: 1.2rem;
        background-color: $background-color_2;
        padding: 0.5rem 1rem 0.25rem 1rem;
    }

    h2 {
        font-family: $font-family_3;
        text-align: center;
        font-size: 3rem;
    }

    h3 {
        font-family: $font-family_3;
        text-align: center;
        font-size: 1.7rem;
    }

    p {
        font-family: $font-family_2;
        text-align: center;
    }
}

.cards {
    display: flex;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: transform 1s;

    &:hover {
        transform: rotate(140deg) scale(2) skew(30deg);
        transform: scale(1.1) translateY(-10px);
    }

    img {
        max-width: 100%;
    }

    h4 {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.6rem;
    }

    p {
        font-family: $font-family_2;
        width: 75%;
        text-align: center;
    }

    a {
        font-family: $font-family_3;
        font-size: 1rem;
        background-color: $background-color_3;
        padding: 0.75rem 1rem;
        color: $color_2;
        text-decoration: none;
    }
}

/**** RESERVATION ****/
.reservation {
    padding: 6rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img/bg1.png"), url("../img/bg2.png");
    background-size: 200px, 400px;
    background-position: 100px center, 1150px 100px;
}

.reservation__heading {
    text-align: center;

    h5 {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.6rem;
    }

    h4 {
        font-family: $font-family_3;
        font-size: 2rem;
    }
}

.reservation__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "name   email" "date   time" "people button";
    width: 36rem;
    gap: 1rem;

    input {
        padding: 0.75rem 1rem;
        font-family: $font-family_1;
        font-weight: 300;
        color: $color_3;
    }

    .name {
        grid-area: name;
    }

    .email {
        grid-area: email;
    }

    .date {
        grid-area: date;
    }

    .time {
        grid-area: time;
    }

    .people {
        grid-area: people;
    }

    .button {
        grid-area: button;
        border: 0;
        background-color: $background-color_3;
        font-family: $font-family_3;
        text-transform: uppercase;
        color: $color_2;
        border-radius: 2px;
        cursor: pointer;
    }
}

/**** EVENTS ****/
.events {
    padding: 6rem;
    padding-top: 0;
}

.inner {
    display: flex;
    padding: 2rem;
    box-shadow: 15px 15px 30px #cccccc;
}

.inner__left {
    padding-block: 2rem;
    padding-right: 2rem;
    flex: 1;
    position: relative;

    h5 {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 1.6rem;
        color: $color_4;
        letter-spacing: 1px;
    }

    h3 {
        font-family: $font-family_3;
        font-size: 2rem;
    }

    p {
        font-family: $font-family_2;
        color: $color_4;
        font-size: 1.1rem;
    }
}

.inner__right {
    flex: 1.25;
    min-width: 0;

    img {
        max-width: 100%;
    }
}

.dots {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: $background-color_4;
    border-radius: 50%;
}

.dot-y {
    background-color: $background-color_2;
}

/**** CONTACT US ****/
body {
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("img/bg.jpg") no-repeat center;
        background-size: cover;
        filter: blur(50px);
        z-index: -1;
    }
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color_5;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("/img/bg2.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: $background-color_6;
    }
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: $background-color_7;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;

    &:hover {
        background-color: $background-color_8;
    }
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: $background-color_6;
    color: $color_5;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $background-color_6;
    }
}

/**** FOOTER ****/
footer {
    padding: 0rem;
    padding-bottom: 0;
    padding: 2rem;

    h2 {
        color: $color_2;
    }

    p {
        color: $color_2;
    }

    i {
        color: $color_2;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-position: center center;
    padding: 2rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color_9;
    }
}

.footer__top {
    z-index: 1;
    display: flex;
    padding-block: 3rem;
    flex-direction: column;
    padding: 0;
    gap: 2rem;

    >div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-family: $font-family_1;
        font-weight: 300;
        font-size: 3rem;
    }

    p {
        font-family: $font-family_2;
    }
}

.footer__bottom {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    flex-direction: column;
    gap: 1rem;

    p {
        font-family: $font-family_1;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .icons {
        display: flex;
        gap: 0.5rem;
        order: -1;
    }
}

.address {
    align-items: flex-end;
    align-items: flex-start;

    p {
        font-family: $font-family_1;
        font-weight: 300;
        letter-spacing: 1px;
    }
}


/**** MEDIA-QUERIES ****/
@media screen and (max-width: 885px) {
    .hero__header {
        flex-direction: column;
        gap: 2rem;
    }

    .header__right {
        align-items: center;
    }

    .hero__img {
        padding-top: 0;

        img {
            max-width: 100%;
        }
    }

    .hero__main {
        padding-inline: 2rem;
        padding-top: 3rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .grid__item {
        flex: 1;
    }

    .grid__item1 {
        padding-bottom: 7rem;
    }

    .enjoy {
        padding: 2rem;
    }

    .titles {
        padding-inline: 0;
    }

    .cards {
        flex-direction: column;
    }

    .events {
        padding: 2rem;

        .inner {
            flex-direction: column;
        }

        .inner__right {
            order: -1;
        }
    }

    .dots {
        bottom: 0;
    }

    .reservation {
        padding: 2rem;
        background-image: none;
    }

    .reservation__form {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .hero__main {
        flex-direction: column;
    }

    .header__right {
        .menu {
            flex-direction: column;
            align-items: center;
        }
    }
}