@import "https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap";

$color_1: #44270f;
$color_2: white;
$color_3: #4b4b4b;
$color_4: black;
$font-family_1: 'Bebas Neue', cursive;
$font-family_2: 'Lato', sans-serif;
$font-family_3: 'Alfa Slab One', cursive;
$background-color_1: #b91818;
$background-color_2: #dfc42b;
$background-color_3: #b81717;
$background-color_4: #cccccc;
$background-color_5: #fff;
$background-color_6: #44270f;
$background-color_8: rgba(0, 0, 0, 0.685);
$background-color_9: rgba(0, 0, 0, 0.1);
$background-color_10: rgba(230, 230, 230, 0.6);


